<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta name="description" content="Documentation for Devise">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">

    <script src="{{ site.url }}/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav>
            <ul>
                <li><a href="/">
                    <img src="{{ site.url }}/imgs/nav-logo.png" width="49" height="17" alt="Devise Logo">
                </a></li>

                <li>
                    <a class="" href="https://github.com/devisephp">Github</a>
                    <ul>
                        <li><a class="" href="https://github.com/devisephp/cms">CMS (Core Package)</a></li>
                        <li><a class="" href="https://github.com/devisephp/bootstrap">Bootstrap (Boilerplate)</a></li>
                        <li><a class="" href="https://github.com/devisephp/example">Example Project</a></li>
                    </ul>
                </li>

                <li>
                    <a class="" href="/docs">Documentation</a>
                </li>

                <li>
                    <a class="" href="#">Features</a>
                    <ul>
                        <li><a class="" href="/content-management-features">CMS Features</a></li>
                        <li><a class="" href="/advanced-features">Advanced Features</a></li>
                    </ul>
                </li>

                <li>
                    <a class="dvs-active" href="/">Home</a>
                </li>

            </ul>
        </nav>

        <div id="content-wrapper">

            <header><img src="{{ site.url }}/imgs/documentation-header-bg.jpg" width="100%"></header>

            <section id="top">
                <div>
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.description }}</p>
                </div>
            </section>

            <section id="sculpin-docs">
                <ul>
                    <li {% if page.url == '/docs' %} class="active" {% endif %}>
                        <a href="/docs">About Devise</a>
                        <ul>
                            <li><a href="/docs#what-is-it">What Is It?</a></li>
                            <li><a href="/docs#couple-of-demos">Couple of Demos</a></li>
                        </ul>
                    </li>
                    {% for doc in data.docs %}
                    <li{% if page.url == doc.url %} class="active"{% endif %}>
                        <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a>
                        {% if doc.sections %}
                        <ul>
                            {% for section in doc.sections %}
                            <li{% if doc.url == page.url %} class="active" {% endif %}><a href="{{ site.url }}{{ doc.url }}#{{section|replace({' ':'-'})|lower|url_encode}}">{{section}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <div>
                    <div>
                        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                    </div>
                </div>

            </section>

        </div>

    <section id="bottom">
        Devise Logo and Devisephp.com<br>
        Copyright &copy; 2015 <a href="http://lbm.co" target="_blank">LBM</a><br><br>

        Devise content management system source code under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
        <em>"Impediment to action advances action.<br> What stands in the way becomes the way"<em>
        </section>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="{{ site.url }}/js/vendor/retina.min.js"></script>
        <script src="{{ site.url }}/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="{{ site.url }}/js/vendor/highlight.pack.js"></script>
        <script src="{{ site.url }}/js/main.js"></script>

        <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-59653511-1','auto');ga('send','pageview');
        </script>

    </body>
    </html>
