body {
    color:$black;
    background-color:$white;
    overflow-y:scroll;
    overflow-x:hidden;
    font-family: $georgia;
}

a, a:hover {
  color:$green;
  cursor:pointer;
  text-decoration:none;
  outline:none;
}

pre {
  padding:2px 5px;
  font-size:$tiny;
  background-color:$arsenic;
  border-color:$arsenic;

  code {
    padding-left:12px;
    display:inline-block;
    color:darken($gray, 5%);
  }
}

/* Helper Styles */
.mb  { margin-bottom:16px;  @include makespace('margin-bottom'); }
.mt  { margin-top:16px; @include makespace('margin-top'); }
.ml  { margin-left:16px;  @include makespace('margin-left'); }
.mr  { margin-right:16px;  @include makespace('margin-right'); }
.mz  { margin:0 }
.mlz { margin-left:0 }
.mrz { margin-right:0 }
.mbz { margin-bottom:0 }
.mtz { margin-top:0 }
.pb  { padding-bottom:16px; @include makespace('padding-bottom'); }
.pt  { padding-top:16px; @include makespace('padding-top'); }
.pl  { padding-left:16px; @include makespace('padding-left'); }
.pr  { padding-right:16px; @include makespace('padding-right'); }
.pz  { padding:0 }
.plz { padding-left:0 }
.prz { padding-right:0 }
.pbz { padding-bottom:0 }
.ptz { padding-top:0 }

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.rel { position:relative }
.abs { position:absolute }

.centered {
  margin-right:auto;
  margin-left:auto;
}

.col-half {
  display:inline-block;
  width:48%;
}

 /* Color Setters */
.bg {
  &.trans            { background-color:transparent }
  &.white            { background-color:$white }
  &.off-white        { background-color:$off-white }
  &.light-gray       { background-color:$light-gray }
  &.mid-gray         { background-color:$mid-gray }
  &.gray             { background-color:$gray }
  &.black            { background-color:$black }
  &.arsenic          { background-color:$arsenic }
  &.steel            { background-color:$steel }
  &.green            { background-color:$green }
  &.pale-green       { background-color:$pale-green }
  &.light-green      { background-color:$light-green }
  &.dark-green       { background-color:$dark-green }
  &.dark-blue        { background-color:$dark-blue }
}

.fg {
  &.white            { @include fg($white) }
  &.off-white        { @include fg($off-white) }
  &.light-gray       { @include fg($light-gray) }
  &.mid-gray         { @include fg($mid-gray) }
  &.gray             { @include fg($gray) }
  &.black            { @include fg($black) }
  &.arsenic          { @include fg($arsenic) }
  &.steel            { @include fg($steel) }
  &.green            { @include fg($green) }
  &.pale-green       { @include fg($pale-green) }
  &.light-green      { @include fg($light-green) }
  &.dark-green       { @include fg($dark-green) }
  &.dark-blue        { @include fg($dark-blue) }
}

/* Bootstrap Overrides */
ul,
ol {
  margin:0
}

.btn-primary {
  background-color:$pank-blue;
  border-color:$pank-blue;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);

  &:hover {
    background-color:darken($pank-blue, 5%);
    border-color:darken($pank-blue, 5%);
  }
}

/* Global Rules */

section {
  .container,
  .container-fluid {
    padding-top:50px;
    padding-bottom:25px;
  }
}

footer {
  padding:75px 0;
}

.page-slider {
  max-height:800px;
  overflow:hidden;
}

.two-column-article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}