$navbar-height : 116px;

.navbar {
  height:$navbar-height;
  line-height:$navbar-height;
  margin-bottom:0;
  background-color:transparentize(darken($white, 3%), 0.2);
  border:none;
  border-color:transparent;

  a {
    float:left;
  }

  img {
    margin-top:-10px;
  }

  ul.list-inline {
    li {
      float:right;
      line-height:$navbar-height;

      a {
        padding:0 15px;
        font-size:$regular - 2px;
        font-weight:$heavy;
        font-family:$pt-sans;
        text-transform:uppercase;
        text-decoration:none;
        color: $gray;
      }
    }
  }

  &.navbar-fixed-top {
    @include transform(translateZ(0)); /* Fixes chrome bug on scroll */
    border-width:0;
  }
}

// Inline anchors to offset the navbar
.ia {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}


/* Mobile  */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 420px) {

}

/* Tablets */
@media (min-width: 768px) and (max-width: 979px) {

}